<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>도르리 케이크</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="sidebar">
        <a href="/">홈</a>
        <a href="/order">주문 안내</a>
        <a href="/order">안내</a>
        <a href="/order">안내</a>
        <a href="/order">~~~안내</a>
        <a href="/order">3333</a>
        <a href="/order">123</a>
        
    </div>
    <div class="content">
        <h1>도르리도르리</h1>
        <p> 도르리 케이크 </p>
    </div>
</body>
</html>
